<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>dubboprovider</display-name>

	<!-- 这里集成Log4j框架 -->
	<!-- Log4jConfigListener是spring提供的工具类，它开启一个log4j的监视线程，并每XX（log4jRefreshInterval变量定义）秒检测日志配置变化，从而不需要每次重新启动web服务来应用新的配置。它使用 
		log4jRefreshInterval，所以两者都不是必须的。 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root.dubboprovider</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:config/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- 定义Spring XML 的上下文 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/applicationContext*.xml,classpath*:config/dubbo*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <listener> <listener-class>com.lmiky.dubbo.provider.context.ProviderContextListener</listener-class> 
		</listener> -->

	<!-- Spring dubbo -->
	<!-- <servlet>
		<servlet-name>dubbo init Servlet</servlet-name>
		<servlet-class>com.lmiky.dubbo.provider.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dubbo init Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping> -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>